img {
  border: 1px solid black;
}

#wall .tag-1 {
  display: none;
}

#wall {

  margin: 50px auto;
  width: 1080px;
  height: 722px;

  -moz-box-shadow: 25px 15px 47px lime, -15px -15px 47px aqua;
  -webkit-box-shadow: 25px 15px 47px lime, -15px -15px 47px aqua;
  box-shadow: 25px 15px 47px lime, -15px -15px 47px aqua;
  border: 10px solid red;
  border-bottom: 60px solid white;
}
